<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Group Presentation</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<div class="presentation">
    <section id="group">
        <h1>Our Group</h1>
        <ul>
            <li>Bocar Mangara</li>
            <li>Aymen Charouni</li>
            <li>Donia Belhdj Kacem</li>
            <li>Sidi Mohamed Beissagh</li>
        </ul>
    </section>

    <section id="work">
        <h1>Our Work</h1>
        <ul>
            <li>Declarative: Tool Install</li>
            <li>Git Checkout</li>
            <li>Compile Source Code</li>
            <li>Sonarqube Analysis</li>
            <li>OWASP SCAN</li>
            <li>Build App</li>
            <li>Build & Push Docker Image</li>
            <li>Trigger CD Pipeline</li>
        </ul>
    </section>

    <section id="tools">
        <h1>Tools</h1>
        <ul>
            <li>Jenkins</li>
            <li>Docker</li>
            <li>Sonar-Scanner</li>
            <li>OWASP SCAN IT</li>
        </ul>
        <p>
            "OWASP SCAN IT is an application and source code manifest and associated tools to orchestrate and
            simplify important phases of the security scanning lifeCycle management of Applications."
        </p>
    </section>

    <section id="supervision">
        <h1>Under the Supervision Of</h1>
        <p>Mr. Mohamed Rjab</p>
    </section>
    <section id="image">
        <img src="https://www.tek-up.de/plans/img/logo-header.png" alt="Spidertocat"
             class="img-responsive center-block"/>
    </section>
</div>

</body>
</html>
